<div class="logIn">
    <h2>Миний булан</h2>
    <nav>
        <ul>
            <li><a href="{{ path('app_ads') }}">Миний зарууд</a></li>
            <li>Хувийн мэдээлэл</li>
            <li>Нууц үг</li>
            <li><a href="{{ path('app_home') }}">Гарах</a></li>
        </ul>
    </nav>
</div>