<div class="logIn">
        <h2>НЭВТРЭХ</h2>
        <input type="text" class="name" placeholder="НЭВТРЭХ НЭР"/>
        <input type="password" class="password" placeholder="НУУЦ ҮГ"/>
        <button class="btn"><a href="{{ path('app_user') }}">НЭВТРЭХ</a></button>
</div>
