 <div class="new">
        <h2>Шинэ зар</h2>
        <div>
            <h3><a href="">Оффис менежер</a></h3>
            <i>2022 02 24(огноо)</i>
        </div>
        <div>
            <h3><a href="">Англи болон солонгос хэлтэй оффиc ажилTAN</a></h3>
            <i>2022 02 24(огноо)</i>
        </div>
    </div>

